<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{transaccion.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{transaccion.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/transaccions}" class="btn btn-secondary">[[#{transaccion.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('transaccion')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='transaccion', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccion', field='cuentaID')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccion', field='monto', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccion', field='saldoPostTransaccion')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccion', field='cuenta', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transaccion', field='controlLote', type='select')}" />
                <input type="submit" th:value="#{transaccion.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
